# Homework 1: Introduction to Machine Learning for Machine Learning Zoomcamp 2025

## Q1. Pandas version

In [19]:
import pandas as pd
import numpy as np

print(f"Pandas version: {pd.__version__}")
print(f"Numpy version: {np.__version__}")

Pandas version: 2.3.2
Numpy version: 2.3.3

### Getting the data

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2. Records count
### How many records are in the dataset?

In [21]:
# Check dataset info
print("Dataset shape:", df.shape)
print("Number of records (rows):", len(df))
print("Number of features (columns):", df.shape[1])

Dataset shape: (9704, 11)
Number of records (rows): 9704
Number of features (columns): 11

In [22]:
print("\nColumn names:", "\n", df.columns.tolist())
print("\nData types:")
print(df.dtypes)

Column names:
 ['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight', 'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain', 'num_doors', 'fuel_efficiency_mpg']

Data types:
engine_displacement      int64
num_cylinders          float64
horsepower             float64
vehicle_weight         float64
acceleration           float64
model_year               int64
origin                  object
fuel_type               object
drivetrain              object
num_doors              float64
fuel_efficiency_mpg    float64
dtype: object

## Q3. Fuel types
### How many fuel types are presented in the dataset?

In [23]:
print(f"\nNumber of fuel types: {df['fuel_type'].nunique()}")
print(f"{df['fuel_type'].value_counts()}")

Number of fuel types: 2
fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [24]:
# Check for missing values
print(f"\nHow many columns have missing values? {(df.isnull().sum() > 0).sum()}")
print(f"Total missing values in dataset: {df.isnull().sum().sum()}")
print("Missing values per column:")
print(df.isnull().sum())

# Show which columns have missing values
columns_with_missing = df.columns[df.isnull().sum() > 0].tolist()
print(f"\nColumns with missing values: {columns_with_missing}")

How many columns have missing values? 4
Total missing values in dataset: 2622
Missing values per column:
engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Columns with missing values: ['num_cylinders', 'horsepower', 'acceleration', 'num_doors']

## Q4. Missing values
### How many columns in the dataset have missing values?

In [25]:
# Checking for missing values
print(f"\nColumns with missing values? {(df.isnull().sum() > 0).sum()}")
print(f"Total missing values in dataset: {df.isnull().sum().sum()}")
print("Missing values per column:")
print(df.isnull().sum())

# Showing which columns have missing values
columns_with_missing = df.columns[df.isnull().sum() > 0].tolist()
print(f"\nColumns with missing values: {columns_with_missing}")

Columns with missing values? 4
Total missing values in dataset: 2622
Missing values per column:
engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Columns with missing values: ['num_cylinders', 'horsepower', 'acceleration', 'num_doors']

## Q5. Max fuel efficiency
### What's the maximum fuel efficiency of cars from Asia?

In [ ]:
# Q5. Max fuel efficiency

## Q6. Median value of horsepower
### 
- Finding the median value of horsepower column in the dataset.
- Next, we calculate the most frequent value of the same horsepower column.
- Then we use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
- Now, we calculate the median value of horsepower once again.

In [ ]:
# median value of horsepower

## Q7. Sum of weights
-  Step 1: all the cars from Asia are selected.
-  Step 2: only columns vehicle_weight and model_year are selected.
-  Step 3: the first 7 values are selected.
-  Step 4: the underlying NumPy array is obtained. Let's call it X.
-  Step 5: matrix-matrix multiplication between the transpose of X and X is computed. To get the transpose, use X.T. Let's call the result XTX.
-  Step 6: XTX is inverted.
-  Step 7: an array y is created with values [1100, 1300, 800, 900, 1000, 1100, 1200].
-  Step 8: the inverse of XTX is multiplied with the transpose of X, and then the result is multiplied by y. The result is called w.
-  Step 9: the sum of all elements in w is computed.

In [ ]:
# Sum of weights